page-userupdates {

  .masters {
    // background-color: #f76c26;
    background-color: rgba(#f77536,0.5);

  }

  .image {
     height: 10vw;
     width: 10vw;
    border: 2px solid #fff;
    border-radius: 50%;
    //box-shadow: 0 0 20px gray;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;

}








}
