<ion-header>

  <ion-navbar color="appcolor">
    <button ion-button menuToggle >
        <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>{{ pageTitle }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="masters">

  <form [formGroup]="form" *ngIf="settingsReady" >
    <ion-list *ngIf="page == 'main'">
      <ion-item>
        <ion-label>{{ 'SETTINGS_OPTION1' | translate }}</ion-label>
        <ion-toggle formControlName="option1"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>{{ 'SETTINGS_OPTION2' | translate }}</ion-label>
        <ion-toggle formControlName="option1"></ion-toggle>
      </ion-item>




    </ion-list>


  </form>

  <!-- <ion-fab right bottom>
      <button ion-fab color="danger"><ion-icon name="share"></ion-icon></button>
      <ion-fab-list side="top">
        <button ion-fab color="primary"> <ion-icon name="logo-facebook"></ion-icon></button>
        <button ion-fab color="primary"><ion-icon name="logo-twitter"></ion-icon></button>
        <button ion-fab color="danger"><ion-icon name="logo-googleplus"></ion-icon></button>
      </ion-fab-list>
    </ion-fab> -->
</ion-content>
